/*@import "../../boost/scss/moodle";*/
/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
*/
/* Color palette */
/*#6800b2;
*/
/*#f4c200;
*/
/*#6800b1;
*/
/*#f4c200*/
/* Device styles 1234*/
 @media (min-width: 980px) {
	 .show-desktop {
		/* display: inherit !important;*/
	}
	 .show-tablet {
		display: none !important;
	}
	 .show-phone {
		display: none !important;
	}
}
 @media (min-width: 768px) and (max-width: 979px) {
	 .show-desktop {
		 /* display: none !important; */
	}
	 .show-tablet {
		 display: inherit !important;
	}
	 .show-phone {
		 display: none !important;
	}
}
 @media (max-width: 767px) {
	 .show-desktop {
		/* display: none !important;*/
	}
	 .show-tablet {
		display: none !important;
	}
	 .show-phone {
		 display: inherit !important;
	}
}
@media (min-width: 576px) {
	.form-inline .form-control {
		display: inline-block;
		width: 100%;
		vertical-align: middle;
	}
}
/* Text styles */
 .navbar {
	 height: 70px;
	 background-color: rgba(25, 78, 176, 1);
	 border-bottom-width: 7px;
	 border-bottom-style: solid;
	 border-bottom-color: #eadc00;
}
 .header-nctu {
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 font-size: 20px;
	 font-weight: 300;
	 letter-spacing: 1.7px;
	 text-align: left;
	 color: #fff;
}
 .header-e3 {
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 font-size: 20px;
	 font-weight: 600;
	 letter-spacing: 1.7px;
	 text-align: left;
	 color: #fff;
}
 .header-tw {
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 font-size: 20px;
	 font-weight: 600;
	 letter-spacing: 1.7px;
	 text-align: left;
	 color: #fff;
	 float: right;
	 margin-right: 10px;
	 padding-top: 0.425rem;
	 font-size: 16px;
}
 .header-en {
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 font-size: 20px;
	 font-weight: 600;
	 letter-spacing: 1.7px;
	 text-align: left;
	 color: #fff;
	 float: right;
	 margin-right: 10px;
	 padding-top: 0.425rem;
	 font-size: 16px;
}
 .semi-transparent {
	 opacity: 0.5;
}
 .userpicture {
	 border-radius: 50%;
}
 .hamburger-menu-item {
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 font-size: 20px;
	 font-weight: 300;
	 letter-spacing: 1.7px;
	 text-align: left;
	 color: #fff;
	 font-size: 16px;
	 text-align: center;
	 letter-spacing: -1px;
	 padding-right: 10px;
	 padding-left: 10px;
}
 .hamburger-menu-item:hover {
	 color: #ecee35 !important;
	 text-decoration: none;
	 background-color: rgba(25, 78, 176, 1) !important;
}
 .popupmenu {
	 display: none;
	 position: fixed;
	 width: 100%;
	 left: 0;
	 top: 0;
	 background: rgba(25, 78, 176, 1);
	 color: white;
	 z-index: 10;
}
 @media all and (min-width: 768px) and (max-width: 991px) {
	 .popupmenu {
		 height: 50%;
	}
}
 @media all and (max-width: 767px) {
	 .popupmenu {
		 height: 100%;
	}
}
 .popupmenu-tw {
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 font-size: 20px;
	 font-weight: 600;
	 letter-spacing: 1.7px;
	 text-align: left;
	 color: #fff;
	 margin-right: 10px;
	 padding-top: 0.425rem;
	 font-size: 16px;
}
 .popupmenu-en {
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 font-size: 20px;
	 font-weight: 600;
	 letter-spacing: 1.7px;
	 text-align: left;
	 color: #fff;
	 margin-right: 10px;
	 padding-top: 0.425rem;
	 font-size: 16px;
}
 .usertour {
	 display: none;
}
 #page-footer {
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 margin-top: 20px;
	 margin-bottom: 20px;
	 text-align: center;
}
 .list-group-item-action:hover {
	 border-left: 3px solid rgba(25, 78, 176, 1);
	 color: rgba(25, 78, 176, 1);
}
 .font-weight-bold {
	 color: #fff !important;
	 background-color: rgba(25, 78, 176, 1) !important;
}
 .bg-inverse {
	 background-color: rgba(25, 78, 176, 1) !important;
}
 thead th {
	 background-color: #d2d6de;
	 color: #33658a;
}
 #page-content {
	 padding-bottom: 100px;
}
 .path-theme-dcpc-grade-report-grader h1 {
	 text-align: inherit;
}
 .path-theme-dcpc-grade-report-grader #region-main {
	 min-width: 100%;
	 width: auto;
}
 .path-theme-dcpc-grade-report-grader #region-main > .card {
	 width: auto;
	 overflow-x: initial;
}
 .path-theme-dcpc-grade-report-grader [data-region="blocks-column"] {
	 width: 100%;
	 clear: both;
}
 .path-theme-dcpc-grade-report-grader .gradeparent {
	 position: relative;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .grader-information-tooltip {
	 min-width: 200px;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .graderreportoverlay {
	 background-color: white;
	 width: auto;
	 padding: 10px;
	 font-size: 12px;
	 border: 1px solid #ccc;
	 border-radius: 4px;
}
 .path-theme-dcpc-grade-report-grader .gradeparent table {
	 border: 1px solid #ccc;
	 border-collapse: separate;
	 border-spacing: 0;
	 border-bottom-width: 0;
	 border-right-width: 0;
	 margin-bottom: 2em;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .cell {
	 border: 1px solid #ccc;
	 border-top-width: 0;
	 border-left-width: 0;
	 padding: 4px 5px;
	 vertical-align: middle;
	 text-align: right;
	 white-space: nowrap;
}
 .path-theme-dcpc-grade-report-grader .gradeparent tr:nth-of-type(even) .cell {
	 background-color: #f9f9f9;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .floater {
	 display: none;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .floating {
	 display: block;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .heading .cell, .path-theme-dcpc-grade-report-grader .gradeparent .avg .cell, .path-theme-dcpc-grade-report-grader .gradeparent .user.cell {
	 font-size: 14px;
	 font-weight: normal;
	 text-align: left;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .floater .cell {
	 background-color: #f9f9f9;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .user.cell {
	 min-width: 200px;
	 width: 200px;
	 white-space: normal;
	 vertical-align: top;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .user.cell .userpicture {
	 margin: 0 4px;
	 border: none;
	 vertical-align: middle;
}
 .path-theme-dcpc-grade-report-grader .gradeitemheader {
	 display: inline-block;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 max-width: 200px;
	 vertical-align: bottom;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .userfield {
	 font-weight: normal;
	 text-align: left;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .range .header, .path-theme-dcpc-grade-report-grader .gradeparent .avg .header {
	 font-weight: bold;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .avg.floating .cell {
	 border-top-width: 1px;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .avg .cell {
	 text-align: right;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .heading .cell .iconsmall {
	 padding-top: 0;
	 padding-bottom: 0;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .sorticon {
	 margin-left: 3px;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .gradevalue {
	 display: inline-block;
}
 .path-grade-report-grader span.gradepass {
	 color: #298721;
}
 .path-theme-dcpc-grade-report-grader span.gradefail {
	 color: #890d0d;
}
 .path-theme-dcpc-grade-report-grader .gradeparent tr:nth-child(n) td.overridden:nth-child(n) {
	 background-color: #efd9a4;
}
 .path-theme-dcpc-grade-report-grader .gradeparent tr:nth-child(n) td.ajaxoverridden:nth-child(n) {
	 background-color: #ffe3a0;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .excludedfloater {
	 font-weight: bold;
	 color: red;
	 font-size: 9px;
	 float: left;
}
 .path-theme-dcpc-grade-report .gradeparent .floater .controls.cell, .path-theme-dcpc-grade-report-grader .gradeparent .controls {
	 background-color: #f3ead8;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .category {
	 text-align: left;
}
 .path-theme-dcpc-grade-report-grader .gradeparent select {
	 margin: 0;
	 padding: 0;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .text {
	 border: 1px solid #666;
	 width: auto;
	 margin: 0;
	 padding: 0;
	 text-align: center;
}
 .path-theme-dcpc-grade-report-grader .gradeparent .quickfeedback {
	 border: 1px dashed #000;
	 width: auto;
	 margin: 0;
	 padding: 0;
	 margin-left: 10px;
}
 .path-theme-dcpc-grade-report-grader .yui3-overlay {
	 border: 0;
	 background: none;
	 background-color: inherit;
	 min-width: 200px;
}
 .path-theme-dcpc-grade-report-grader .yui3-overlay {
	 background-color: white;
	 width: auto;
	 padding: 10px;
	 font-size: 12px;
	 border: 1px solid #ccc;
	 border-radius: 4px;
}
 .bkOval-1000 {
	 top: 0px;
	 left: 0px;
	 width: 60%;
	 height: 60%;
	 z-index: -1;
	 position: absolute;
	 -webkit-clip-path: circle(50% at 20% 1%);
	 clip-path: circle(50% at 20% 1%);
	/*background: linear-gradient(211deg, #6800b1, #f4c200);
	*/
	 background: linear-gradient(211deg, rgba(25, 78, 176, 1), #fff);
}
 .bkOval-900 {
	 top: 58%;
	 left: 50%;
	 width: 50%;
	 height: 60%;
	 z-index: -1;
	 position: absolute;
	 -webkit-clip-path: circle(50% at 70% 90%);
	 clip-path: circle(50% at 70% 90%);
	 background: linear-gradient(206deg, rgba(25, 78, 176, 1), #fff);
}
 .bkOval-85 {
	 top: 100px;
	 left: 70%;
	 width: 85px;
	 height: 85px;
	 z-index: -1;
	 position: absolute;
	 transform: rotate(45deg);
	 -moz-border-radius: 85px;
	 -webkit-border-radius: 85px;
	 border-radius: 85px;
	 background: linear-gradient(213deg, rgba(25, 78, 176, 1), #fff);
	/* background-image: linear-gradient(213deg, #6800b1, var(--yellow));
	 */
}
 .bkOval-100 {
	 top: 130px;
	 left: 68%;
	 width: 100px;
	 height: 100px;
	 z-index: 0;
	 position: absolute;
	 -moz-border-radius: 100px;
	 -webkit-border-radius: 100px;
	 border-radius: 100px;
	 background: #f7f7f7;
}
 .bkOval-200 {
	 top: 70%;
	 left: 270px;
	 width: 200px;
	 height: 200px;
	 z-index: 0;
	 position: absolute;
	 transform: rotate(45deg);
	 -moz-border-radius: 180px;
	 -webkit-border-radius: 180px;
	 border-radius: 180px;
	 background: linear-gradient(202deg, rgba(25, 78, 176, 1), #fff);
	/* background-image: linear-gradient(202deg, #6800b1, var(--yellow));
	 */
}
 .LoginBody {
	 background-color: #f7f7f7;
}
/* Desktop styles */
 .LoginCard {
	 max-width: 708px; 
	 width: 95%;
	 height: 710px;
	 margin-top: 60px;
	 margin-right: auto;
	 margin-left: auto;
	 display: flex;
	 flex-direction: column; 
	 align-items: center ;
	 text-align: center;
	 border-radius: 10px;
	 background-color: #fff;
	 box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.11);
	 left: auto;
	 top: auto;
}
 .LoginForm {
	 height: 590px;
	 margin-top: 25px;
	 margin-right: 25px;
	 margin-left: 25px;
	 margin-bottom: 25px;
	 padding: 40px;
	 text-align: center;
	 border-radius: 10px;
	 background-color: rgba(25, 78, 176, 0.73);
	 width: 95%;
}
.LoginInsCard {
	max-width: 708px;
	width: 95%;
	height: 710px;
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	padding: 25px;
	flex-direction: column; 
	align-items: center ;
	text-align: left;
	z-index: 3;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
}
 .LoginText {
	 max-width: 481px;
	 width: 95%;
	 height: 61px;
	 margin-top: 30px;
	 padding-left: 20px;
	 border-radius: 10px;
	 background-color: #fff;
	 border: solid 1px #979797;
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 font-size: 24px;
	 color: #000;
}
 .LoginBtn {
	 max-width: 481px;
	 width: 95%;
	 height: 61px;
	 margin-top: 30px;
	 margin-bottom: 22px;
	 border-radius: 10px;
	 background-color: #eadc00;
	/*#f4c200;
	*/
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 font-size: 24px;
	 color: #fff;
	 
	 border: 10px solid #000000 !important;
	 box-sizing: border-box;
}
.LoginCopyright {
	width: 100%;
	height: 30px;
	z-index: 3;
	margin-top: 20px;
	padding-top: 10px;
	font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.5px;
	text-align: center;
	color: #404040;
	}
 .LoginFoot {
	 top: 100px;
	 width: 100%;
	 height: 60px;
	 z-index: 4;
	 position: relative;
	 text-align: center;
	 padding-top: 1em;
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 font-size: 14px;
	 font-weight: 300;
	 font-style: normal;
	 font-stretch: normal;
	 line-height: normal;
	 letter-spacing: 0.5px;
	 text-align: center;
	 color: #404040;
	 background-color: #fff;
	 box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
}
 .LoginRow {
	 height: 24px;
	 margin-top: 15px;
}
 .LoginLink, .LoginLink:hover, .LoginLink:active, .LoginLink:visited {
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 font-size: 14px;
	 font-weight: 600;
	 font-style: normal;
	 font-stretch: normal;
	 letter-spacing: 0.5px;
	 text-align: center;
	 color: #404040;
	 border-bottom-color: rgba(25, 78, 176, 0.73);
	 border-bottom-width: 3px;
	 border-bottom-style: solid;
	 
}
 .LoginLink-vain:hover {
	 color: black;
}
 .LoginLang, .LoginLang-vain, .LoginLang-vain:hover, .LoginLang-vain:active {
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 font-style: normal;
	 font-size: 20px;
	 font-weight: 600;
	 letter-spacing: 1.7px;
	 text-decoration: none;
	 color: #fff;
	 margin-left: 5px;
	 margin-right: 5px;
}
 .LoginLang-vain {
	 opacity: 0.5;
}
 .LoginLang-vain:hover {
	 opacity: 0.7;
}
 .LoginLang-vain:visited {
	 color: #fff;
	 opacity: 0.7;
}
/* Tablet styles */
 .LoginCard-tablet {
	 top: calc(50% - 350px);
	 left: calc(50% - 325px);
	 width: 650px;
	 height: 700px;
	 text-align: center;
	 z-index: 3;
	 position: absolute;
	 border-radius: 10px;
	 background-color: #fff;
	 box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.11);
}
/* Phone styles */
 .LoginCard-phone {
	 top: 40px;
	 left: 0px;
	 width: 100%;
	 height: 750px;
	 text-align: center;
	 z-index: 3;
	 position: absolute;
	 border-radius: 10px;
	 background-color: #fff;
	 box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.11);
}
 .LoginForm-phone {
	 width: 85%;
	 height: 640px;
	 margin-top: 20px;
	 margin-left: 25px;
	 margin-right: 25px;
	 padding: 40px;
	 text-align: center;
	 border-radius: 10px;
	 background-color: rgba(25, 78, 176, 0.73);
}
 .LoginText-phone {
	 width: 85%;
	 height: 61px;
	 margin-top: 20px;
	 padding-left: 20px;
	 border-radius: 10px;
	 background-color: #fff;
	 border: solid 1px #979797;
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 font-size: 24px;
	 color: #000;
}
 .LoginBtn-phone {
	 width: 85%;
	 height: 61px;
	 margin-top: 20px;
	 border-radius: 10px;
	 background-color: #eadc00;
	/*#f4c200;
	*/
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 font-size: 24px;
	 color: #fff;
}
 .LoginFoot-phone {
	 top: 680px;
	 width: 100%;
	 height: 54px;
	 z-index: 4;
	 position: absolute;
	 text-align: center;
	 vertical-align: middle;
	 background-color: #fff;
	 box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
}
 .NewsTitle {
	 text-align: center;
	 margin-top: 3em;
	 margin-bottom: 1em;
	 font-weight: 600;
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 color: rgba(25, 78, 176, 0.73);
}
 .News-active, .News-active a, .News-active a:hover {
	 position: absolute;
	 left: 50%;
	 margin-left: -450px;
	 padding: 0.75em;
	 width: 923px;
	 height: 57px;
	 font-size: 20px;
	 font-weight: 300;
	 font-style: normal;
	 font-stretch: normal;
	 line-height: normal;
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 cursor: pointer;
	 border-radius: 10px;
	 color: rgba(25, 78, 176, 0.73);
	 background-color: #fff;
	 box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.11);
}
 .News-passive, .News-passive a, .News-passive a:hover {
	 position: absolute;
	 left: 50%;
	 margin-left: -450px;
	 padding: 0.75em;
	 width: 923px;
	 height: 57px;
	 font-size: 20px;
	 font-weight: 300;
	 font-style: normal;
	 font-stretch: normal;
	 line-height: normal;
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 cursor: pointer;
	 border-radius: 10px;
	 color: #979797;
	 background-color: #fff;
	 box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.11);
}
 .NewsPageText, .NewsPageText a, .NewsPageText a:hover {
	 float: left;
	 width: 28px;
	 height: 28px;
	 padding: 2px;
	 margin-right: 1em;
	 color: rgba(25, 78, 176, 0.73);
	 font-size: 20px;
	 font-style: normal;
	 font-stretch: normal;
	 font-weight: bolder;
	 line-height: normal;
	 text-align: center;
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
}
 .NewsPageOval1, .NewsPageOval2, .NewsPageOval3, .NewsPageOval1 a, .NewsPageOval2 a, .NewsPageOval3 a, .NewsPageOval1 a:hover, .NewsPageOval2 a:hover, .NewsPageOval3 a:hover {
	 height: 28px;
	 background: rgba(25, 78, 176, 0.73);
	 -moz-border-radius: 14px;
	 -webkit-border-radius: 14px;
	 border-radius: 14px;
	 padding: 2px;
	 margin-right: 1em;
	 color: white;
	 font-size: 20px;
	 font-style: normal;
	 font-stretch: normal;
	 font-weight: bolder;
	 line-height: normal;
	 text-align: center;
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 float: left;
}
 .NewsPageOval1 {
	 width: 28px;
	 padding-left: 8px;
}
 .NewsPageOval2 {
	 width: 32px;
	 padding-left: 4px;
}
 .NewsPageOval3 {
	 width: 40px;
	 padding-left: 2px;
}
 .LinkBtn {
	 cursor: pointer;
}
 .NewsPages {
	 position: absolute;
	 left: 50%;
	 margin-top: 2em;
	 margin-left: -120px;
	 width: 300px;
	 text-align: justify;
	 text-align-last: justify;
	 border: #979797;
}
 .NewsRow {
	 position: relative;
	 margin-top: 1em;
	 text-align: center;
	 height: 60px;
}
 .PhoneNewsRow {
	 position: relative;
	 margin: 1em;
	 text-align: center;
	 height: 100px;
}
 .PhoneNews-active, .PhoneNews-active a, .PhoneNews-active a:hover {
	 position: absolute;
	 padding: 5px;
	 width: 100%;
	 height: 100px;
	 font-size: 18px;
	 font-weight: 300;
	 font-style: normal;
	 font-stretch: normal;
	 line-height: normal;
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 cursor: pointer;
	 border-radius: 10px;
	 color: rgba(25, 78, 176, 0.73);
	 background-color: #fff;
	 box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.11);
}
 .PhoneNews-passive, .PhoneNews-passive a, .PhoneNews-passive a:hover {
	 position: absolute;
	 padding: 5px;
	 width: 100%;
	 height: 100px;
	 font-size: 18px;
	 font-weight: 300;
	 font-style: normal;
	 font-stretch: normal;
	 line-height: normal;
	 font-family: "Noto Sans TC", PingFangTC, Microsoft JhengHei, "PT Sans", Arial, Helvetica, sans-serif;
	 cursor: pointer;
	 border-radius: 10px;
	 color: #979797;
	 background-color: #fff;
	 box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.11);
}
/* Button styles */
/*input[type="button"] {
	 @extend .btn, .btn-secondary;
}
*/
/*input[type="button"][class*="btn-default"] {
	 @extend .btn, .btn-default;
}
*/
/*input[type="submit"], input[type="button"][id*="submit"] {
	 @extend .btn, .btn-primary;
}
*/
 /*input[type="submit"][disabled="disabled"], input[type="submit"][disabled="disabled"]:hover, input[type="button"][disabled="disabled"], input[type="button"][disabled="disabled"]:hover {
	 background-color: white;
	 color: #ccc !important;
	 border-color: #ccc !important;
}*/
 .dcpcstyle {
	 font-size: larger;
}
 
.usertext, .userbutton {
    color:#fff;
}

.dropdown a{
   /* color:#fff;*/
}

.pull-xs-right{
    float:right;
}

.course-content{
    margin: 10px 10px 10px 10px;
}

.card-block{
    padding:1.25rem;
}

/*.navbar-light, .navbar-nav,*/ 
/*.nav-link{
    color:white!important;
}*/

a{
    color: #33658a;
}

.sectionname, h1, h2, h3, h4, h5, h6{
    font-weight:300;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #F5F5F5;
    border: 0;
}

.list-group-item-action {
    background-color: #eceeef;
}


input[type="submit"][disabled="disabled"], input[type="submit"][disabled="disabled"]:hover, input[type="button"][disabled="disabled"], input[type="button"][disabled="disabled"]:hover 
, .btn-default
{
    background-color: white;
    /*color: #ccc !important;*/
    border-color: #ccc !important;
}
 
.btn-primary:hover{
    background-color: rgba(25, 78, 176, 1);
}

/*input[type="submit"][disabled="disabled"], input[type="submit"][disabled="disabled"]:hover, 
input[type="button"][disabled="disabled"], input[type="button"][disabled="disabled"]:hover
, */input[type="button"][id*="submit"] 
, .btn-primary

{
  color: rgba(25, 78, 176, 1);
  background-color: #fff;
  
}

div[id*="filemanager"]{
    width:100%;
}

input[type="button"], .btn{
    border-radius:5px;
}

/*.nav-item a{
    color:#000;
}*/
a[data-key=completionreports_e3] div:before,
a[data-key=reportsandanalytics_e3] div:before {
    content:"\f201 ";
    font-family: FontAwesome;
    margin-right: .5em;
}

.custom-select {
	width:auto;
}

[data-filterverbfor], [data-filterregion="filter"]:last-child [data-filterregion="joinadverb"] {
    display: none;
}

.form-autocomplete-downarrow {
    color: #1d2125;
    top: .2rem;
    right: .5rem;
    cursor: pointer;
}

.editor_atto_menu .open ul.dropdown-menu{
	padding-left: 5px;
}
body.page-admin-tool-mfa-auth{
	margin: 0px 10px;
	padding: 0px 10px;
}
#page-wrapper{
	height: 15%;
}
.flex-wrap{
	justify-content: center;
}




